<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<resultMap type="Member" id="memberResult">
		<result column="email" property="email"/>
		<result column="user_pwd" property="userPwd"/>
		<result column="user_name" property="userName"/>
		<result column="nickname" property="nickName"/>
		<result column="gender" property="gender"/>
		<result column="phone" property="phone"/>
		<result column="address" property="address"/>
		<result column="brithday" property="brithday"/>
		<result column="enroll_date" property="enrollDate"/>
		<result column="modify_date" property="modifyDate"/>
		<result column="invite_code" property="inviteCode"/>
		<result column="couple_code" property="coupleCode"/>
		<result column="partner_email" property="partnerEmail"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="status" property="status"/>
	</resultMap>
	
	<select id="loginUser" resultMap="memberResult">
		select email
		     , user_pwd
		     , user_name
		     , nickname
		     , gender
		     , phone
		     , address
		     , brithday
		     , invite_code
		     , couple_code
		     , partner_email
		     , origin_name
		     , change_name
		     , status -- status 추가함 - by 동규 (2024.10.13)
		 from c_member
		where email = #{email}
		   -- and status != 'N' -- 'N' 상태도 로그인할 수 있게 수정 - by 동규 (2024.10.13)
	</select>
	
	<select id="selectPartnerEmail" resultMap="memberResult">
	select
	       email
	     , user_pwd
	     , user_name
	     , nickname
	     , gender
	     , phone
	     , address
	     , brithday
	     , invite_code
	     , couple_code
	     , partner_email
	     , origin_name
		 , change_name
	 from c_member
	where partner_email = #{email}
	  
	</select>
	
	<insert id="insertMember">
		insert
		  into c_member
		  	 (
		  	   email
		  	 , user_pwd
		  	 , user_name
		  	 , gender
		  	 , brithday
		  	 , phone
		  	 , address
		  	 ,invite_code
		  	 )
		values
		     (
		       #{email}
		     , #{userPwd}
		     , #{userName}
		     , #{gender}
		     , #{brithday}
		     , #{phone}
		     , #{address}   
		     , #{inviteCode}
		     )
	</insert>
	
	<select id="findId" resultType="string">
		select email
		  from c_member
		 where user_name = #{userName}
		   and phone = #{phone}
		   and status != 'N'
	
	</select>
	
	<select id="checkUser" resultType="string">
		select email
		  from c_member
		 where user_name = #{userName}
		   and email = #{email}
		   and status != 'N'
	</select>
	
	<update id="updatePwd">
		update c_member
			set user_pwd = #{userPwd}
		  where email = #{email}
			and status != 'N'
	</update>
	
	<select id="partnerUser" resultType="string">
	   select couple_code
		 from c_member
		where email = #{email}
		  and status != 'N'
	</select>
	
	<select id="findId" resultType="string">
		select email
		  from c_member
		 where user_name = #{userName}
		   and phone = #{phone}
		   and status != 'N'
	
	</select>
	
	<select id="checkUser" resultType="string">
		select email
		  from c_member
		 where user_name = #{userName}
		   and email = #{email}
		   and status != 'N'
	</select>
	
	<update id="updatePwd">
		update c_member
			set user_pwd = #{userPwd}
		  where email = #{email}
			and status != 'N'
	</update>
	
	<select id="partnerUser" resultType="string">
	   select couple_code
		 from c_member
		where email = #{email}
		  and status != 'N'
	</select>
	
	<!-- 회원정보수정 - 추가함 by 동규 (2024.10.13) -->
	<update id="updateMember">
		update c_member
		   set user_name = #{userName}
		     , nickName = #{nickName}
		     , gender = #{gender}
		     , phone = #{phone}
		     , address = #{address}
		     , brithday = #{brithday}
		     , modify_date = sysdate
		 where email = #{email}
	</update>
	
	<!-- 회원탈퇴 - 추가함 by 동규 (2024.10.13) -->
	<update id="deleteMember">
		update c_member
		   set status = 'N'
		 where email = #{email}
	</update>
	
</mapper>
