<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="planMapper">

	<resultMap id="calendarResult" type="Calendar">
		<result column="calendar_no" property="calendarNo"/>
		<result column="couple_code" property="coupleCode"/>
		<result column="owner" property="owner"/>
		<result column="default_color" property="defaultColor"/>
		<result column="status" property="status"/>
	</resultMap>

	<resultMap id="scheduleResult" type="Schedule">
		<result column="schedule_no" property="scheduleNo"/>
		<result column="calendar_no" property="calendarNo"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="start_date" property="startDate"/>
		<result column="start_time" property="startTime"/>
		<result column="end_date" property="endDate"/>
		<result column="end_time" property="endTime"/>
		<result column="create_date" property="createDate"/>
		<result column="alert_date" property="alertDate"/>
		<result column="color" property="color"/>
		<result column="writer" property="writer"/>
		<result column="writer_name" property="writerName"/>
		<result column="status" property="status"/>
	</resultMap>
	
	<resultMap id="mindmapResult" type="Mindmap">
		<result column="key" property="key"/>
		<result column="parent" property="parent"/>
		<result column="text" property="text"/>
		<result column="brush" property="brush"/>
		<result column="dir" property="dir"/>
		<result column="loc" property="loc"/>
		<result column="couple_Code" property="coupleCode"/>
	</resultMap>
	
	<resultMap id="phoneResult" type="Phone">
		<result column="calendar_no" property="calendarNo"/>
		<result column="couple_code" property="coupleCode"/>
		<result column="owner" property="owner"/>
		<result column="phone" property="phone"/>
	</resultMap>

	<select id="selectCalendarList" resultMap="calendarResult">
		select
		       calendar_no
		     , couple_code
		     , owner
		     , default_color
		  from p_calendar
		 where couple_code = #{coupleCode}
		   and status = 'Y'
	</select>
	
	<insert id="insertCalendar">
		insert
		  into p_calendar
		  (
		      calendar_no
		    , couple_code
		    , owner
		    , default_color
		  )
		  values
		  (
		      seq_calendar_no.nextval
		    , #{coupleCode}
		    , #{owner}
		    , #{defaultColor}
		   )
	</insert>

	<update id="updateCalendarColors">
		update p_calendar
		   set default_color = #{defaultColor}
		 where calendar_no = #{calendarNo}
	</update>

	<select id="selectScheduleList" resultMap="scheduleResult">
		select 
		       schedule_no
		     , calendar_no
		     , title
		     , content
		     , to_char(start_date, 'YYYY-MM-DD') as "start_date"
		     , nvl(to_char(start_time, 'HH24:MI:SS'), '') as "start_time"
		     , to_char(end_date, 'YYYY-MM-DD') as "end_date"
		     , nvl(to_char(end_time, 'HH24:MI:SS'), '') as "end_time"
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		     , nvl(to_char(alert_date, 'YYYY-MM-DD"T"HH24:MI'), '') as "alert_date"
		     , nvl(color, default_color) as "color"
		     , writer
		     , user_name as "writer_name"
		     , s.status
		  from p_schedule s
          join p_calendar c using(calendar_no)
          join c_member m on (s.writer = m.email)
		 where c.couple_code = #{coupleCode}
		   and calendar_no = #{calendarNo}
	       and start_date between to_date(#{currentYear} || '-01-01', 'YYYY-MM-DD') and to_date(#{currentYear} || '-12-31', 'YYYY-MM-DD')
		   and s.status = 'Y'
	</select>
	
	<insert id="insertSchedule">
		insert
		  into p_schedule
		  (
		      schedule_no
		    , calendar_no
		    , title
		    , content
		    , start_date
		    , start_time
		    , end_date
		    , end_time
		    , create_date
		    , alert_date
		    , color
		    , writer
		  )
		  values
		  (
		      seq_schedule_no.nextval
		    , #{calendarNo}
		    , #{title}
		    , #{content}
		    , to_date(#{startDate}, 'YYYY-MM-DD')
		    , to_date(#{startTime}, 'HH24:MI')
  		    , to_date(#{endDate}, 'YYYY-MM-DD')
		    , to_date(#{endTime}, 'HH24:MI')
		    , sysdate
		    , to_date(#{alertDate}, 'YYYY-MM-DD"T"HH24:MI')
		    , #{color}
		    , #{writer}
		   )
	</insert>
	
	<update id="updateSchedule">
		update p_schedule
		   set calendar_no = #{calendarNo}
		     , title = #{title}
		     , content = #{content}
		     , start_date = to_date(#{startDate}, 'YYYY-MM-DD')
		     , start_time = to_date(#{startTime}, 'HH24:MI:SS')
		     , end_date = to_date(#{endDate}, 'YYYY-MM-DD')
		     , end_time = to_date(#{endTime}, 'HH24:MI:SS')
		     , alert_date = to_date(#{alertDate}, 'YYYY-MM-DD"T"HH24:MI')
		     , color = #{color}
		 where schedule_no = #{scheduleNo}
		   and status = 'Y'
	</update>

	<update id="deleteSchedule">
		update p_schedule
		   set status = 'N'
		 where schedule_no = #{scheduleNo}
	</update>
	
	<select id="selectMindmapList" resultMap="mindmapResult">
		select
		       key
		     , parent
		     , text
		     , brush
		     , dir
		     , loc
		     , couple_code
		  from p_mindmap
		 where couple_code = #{coupleCode}
	</select>
	
	<delete id="deleteMindmapList">
		delete
		  from p_mindmap
		 where couple_code = #{coupleCode}
	</delete>
	
	<insert id="insertMindmap">
        insert
          into p_mindmap
        (
             mindmap_no
           , key
           , parent
           , text
           , brush
           , dir
           , loc
           , couple_code
        )
        values
        (
        	 seq_mindmap_no.nextval
           , #{key}
           , #{parent}
           , #{text}
           , #{brush}
           , #{dir}
           , #{loc}
           , #{coupleCode}
        )
	</insert>
	
	<select id="findScheduleWithAlertTime" resultMap="scheduleResult">
	    select 
	           schedule_no,
	           calendar_no,
	           title,
	           content,
	           to_char(start_date, 'YYYY-MM-DD') as "start_date",
	           nvl(to_char(start_time, 'HH24:MI:SS'), '') as "start_time",
	           to_char(end_date, 'YYYY-MM-DD') as "end_date",
	           nvl(to_char(end_time, 'HH24:MI:SS'), '') as "end_time",
	           nvl(to_char(alert_date, 'YYYY-MM-DD"T"HH24:MI'), '') as "alert_date",
	           writer,
	           user_name as "writer_name"
	      from p_schedule s
	      join p_calendar c using(calendar_no)
	      join c_member m on (s.writer = m.email)
	     where to_char(alert_date, 'YYYY-MM-DD"T"HH24:MI') = to_char(sysdate, 'YYYY-MM-DD"T"HH24:MI')
	       and s.status = 'Y'
	</select>

	<select id="selectPhone" resultMap="phoneResult">
		 select
		        pc.calendar_no
		      , pc.couple_code
		      , pc.owner
		      , cm.phone
		   from p_calendar pc
		   left join c_member cm on(cm.email = pc.owner)
		  where pc.calendar_no = #{calendarNo}
		    and pc.status = 'Y'
	</select>
	
	<select id="selectPhoneList" resultMap="phoneResult">
		select
		        phone
		      , couple_code
		 from c_member
		 where couple_code = #{coupleCode}
		   and status = 'Y'
	</select>

</mapper>