<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.usTwo.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.usTwo.fun.model.vo.Qtest" alias="Qtest"/>
		<typeAlias type="com.kh.usTwo.fun.model.vo.OptionTest" alias="OptionTest"/>
		<typeAlias type="com.kh.usTwo.fun.model.vo.Qservey" alias="Qservey"/>
		<typeAlias type="com.kh.usTwo.fun.model.vo.Aservey" alias="Aservey"/>
		<typeAlias type="com.kh.usTwo.fun.model.vo.Qlove" alias="Qlove"/>
		<typeAlias type="com.kh.usTwo.fun.model.vo.Alove" alias="Alove"/>
		<typeAlias type="com.kh.usTwo.fun.model.vo.Test" alias="Test"/>
		<typeAlias type="com.kh.usTwo.fun.model.vo.Atest" alias="Atest"/>
		<typeAlias type="com.kh.usTwo.plan.model.vo.Calendar" alias="Calendar"/>
		<typeAlias type="com.kh.usTwo.plan.model.vo.Schedule" alias="Schedule"/>
		<typeAlias type="com.kh.usTwo.album.model.vo.Story" alias="Story" />
		<typeAlias type="com.kh.usTwo.album.model.vo.Reply" alias="Reply" />
	</typeAliases>

	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/fun-mapper.xml"/>
		<mapper resource="/mappers/plan-mapper.xml"/>
		<mapper resource="/mappers/album-mapper.xml"/>
	</mappers>
	
	
	
	
	

</configuration>
